---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	title: "Tutoring",
};
---

<PageLayout meta={meta}>
	<div class="space-y-4">
		<h1 class="title">Tutoring</h1>
		<p class="mb-4">
			Hi, I'm Romir! I'm an undergraduate student at UT Austin studing Computer Science in the Turing program. 
            I offer virtual and in-person tutoring for SAT prep, highschool/middle school STEM fields, 
            and olympiad math, physics, and computer science. 
		</p>
        <p class="mb-1 font-bold">Credentials:</p>

        <ul class="list-disc list-inside mb-1">
			<li>Scored 1570 on the SAT, 1510 on the PSAT</li>
			<li>USAMO Honorable Mention (2023), USAJMO Qualifier (2022)</li>
			<li>USAPHO Silver Medalist (2024), Bronze Medalist (2023)</li>
			<li>5/5 on 13 APs including both Physics C's, Chemistry, Calculus BC, Macro/Micro, and CSA </li>
            <li>You can find my full resume  <a href="/src/files/Romir_Sharma_Resume.pdf" style="text-decoration: underline;">here</a></li>
		</ul>

		<p class="mb-4">
			Feel free to contact me at <a href="mailto:tutoring@romirsharma.com" style="text-decoration: underline;">tutoring@romirsharma.com</a> for further information or inquiries!
            
		</p>
	</div>
</PageLayout>
